---
import Layout from "../layouts/Layout.astro";
import About from "../components/about.astro";
import Capacitaciones from "../components/capacitaciones.astro";
---

<Layout
  title="Fundación Académica Silvia Flores"
  description="La Fundación Silvia Flores promueve la Educación en el ámbito de la salud"
>
  <main>
    <section
      class="relative bg-[url(./BANNER.JPG)] bg-cover bg-center bg-no-repeat opacity-70"
    >
      <div
        class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
      >
      </div>

      <div
        class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
      >
        <div
          class="font-bold max-w-xl text-center ltr:sm:text-left rtl:sm:text-right"
        >
          <h1 class="text-3xl font-extrabold sm:text-5xl">
            Fundación Académica

            <strong class="block font-extrabold text-"> Silvia Flores </strong>
          </h1>

          <p class="mt-4 max-w-lg sm:text-xl/relaxed">
            ¡Bienvenido a la Fundación SILFLO, donde promovemos la educación en
            el ámbito de la salud
          </p>

          <div class="mt-8 flex flex-wrap gap-4 text-center">
            <a
              href="#"
              class="block w-full rounded bg-cyan-400 px-12 py-3 text-sm font-medium text-white shadow hover:bg-cyan-700 focus:outline-none focus:ring active:bg-cyan-400 sm:w-auto"
            >
              Mas información
            </a>

            <a
              href="#"
              class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-cyan-400 shadow hover:text-cyan-700 focus:outline-none focus:ring active:text-cyan-400 sm:w-auto"
            >
              Contáctanos
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- hero -->
    <About />
    <Capacitaciones />
  </main>
</Layout>
