---
import Layout from "../layouts/Layout.astro";
import About from "../components/about.astro";
import Capacitaciones from "../components/capacitaciones.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import ArrowNav from "../components/ArrowNav.astro";
import Novedades from "../components/Novedades.astro";
import Galeria from "../components/Galeria.astro";
---

<Layout
  title="Fundación Académica Silvia Flores"
  description="La Fundación Silvia Flores promueve la Educación en el ámbito de la salud"
>
  <main>
    <Hero />
    <About id="about" />
    <Capacitaciones id="Capacitaciones" />
    <Novedades />
    <ArrowNav />
    <Galeria />
  </main>
</Layout>
