---
import Layout from "../layouts/Layout.astro";
import About from "../components/about.astro";
import CapacitacionesCursos from "../components/CapacitacionesCursos.astro";
import Hero from "../components/Hero.astro";
import Novedades from "../components/Novedades.astro";
import Carrusel from "../components/Carrusel.astro";
---

<Layout
  title="Fundación Académica Silvia Flores"
  description="La Fundación Silvia Flores promueve la Educación en el ámbito de la salud"
>
  <main>
    <Hero />
    <About id="about" />
    <CapacitacionesCursos id="capacitaciones" />
    <Novedades />
    <Carrusel />
  </main>
</Layout>
