---
import Galeria from "../components/Galeria.astro";
import Layout from "../layouts/Layout.astro";
import dbNovedades from "../components/DB/dbNovedades.json";
---

<Layout
  title="Novedades"
  description="Todas las novedades que tenemos en la fundación Silvia Flores"
>
  <section class="flex flex-col gap-4 mt-20">
    {
      dbNovedades.map((data, index) => (
        <article class={index % 2 === 0 ? "" : "bg-[#0b9ba0]/20"}>
          <div class="max-w-6xl px-10 mx-auto flex flex-col items-center justify-center gap-4 py-10">
            <h2 class="text-gray-700 font-bold text-3xl text-balance">
              {data.titulo}
            </h2>
            <div class="flex flex-colgap-4 px-4 py-10 mx-auto">
              <img
                alt="content"
                class="rounded-xl object-cover object-center h-[450px] w-[450px]"
                src={data.imagen}
              />

              <p class="text-gray-800/70 text-xl font-medium text-balance px-5">
                {data.descripcion}
              </p>
            </div>
          </div>
        </article>
      ))
    }
    <Galeria />
  </section>
</Layout>
