---
import Galeria from "../components/Galeria.astro";
import Layout from "../layouts/Layout.astro";

---



<Layout
  title="Novedades"
  description="Todas las novedades que tenemos en la fundación Silvia Flores"
>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -mx-4 -mb-10">
        
        
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-96 overflow-hidden">
            <img
              alt="content"
              class="object-cover object-center h-full w-full"
              src="/images/img-1.png"
            />
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">
            Egresados 2023
          </h2>
          <p class="leading-relaxed text-base">
            El día 4 de Diciembre del año 2023 en Puerto Madero- CABA Buenos
            Aires, , Nuestra Fundación Académica Silvia Flores, llevó a cabo la
            realización del Acto de Graduación del cierre del ciclo lectivo
            2023. Contamos con más de 300 alumnos graduados en las distintas
            áreas de Formación en Ciencias de la Salud. Especialización en
            Kinesiología Motriz Respiratoria, Asistente en Enfermería,
            Acompañante terapéutico, Asistente en Fonoaudiología, Asistente en
            terapia Ocupacional, además de hacer mención y entrega de
            certificaciones de los diferentes seminarios llevados a cabo durante
            el ciclo lectivo del corriente año. Nos acompañaron las Autoridades
            de la fundación SILFLO, Presidente Prof. Doc. Silvia Flores , el
            Secretario General Prof. Esp. en Pediatría Carlos Robles Cortez,
            Tesorero General , Lic. Robles Cortez, Jesús. Agradecimiento
            especial a la Federación Argentina de Farmacias FACAF por haber
            cedido su espacio en Puerto Madero, para la realización de nuestro
            acto de Graduación.
          </p>
        </div>

        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-96 overflow-hidden">
            <img
              alt="content"
              class="object-cover object-center h-full w-full"
              src="/images/img-17.png"
            />
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">
            Cooperativa Te incluyo
          </h2>
          <p class="text-pretty">
            El pasado 11 de Noviembre del 2023, se realizó el Seminario Taller
            sobre RCP Y DEA a cargo de los profesores Silvia Flores Y Carlos
            Robles. Participaron 52 estudiantes de diferentes cursados del
            ámbito de la salud y el campo de la Psicología. La misma tuvo como
            finalidad teórica y práctica, los siguientes puntos: Cada estudiante
            contó con su certificación de asistencia que acredita su formación y
            actualización correspondiente al año en curso.
          </p>
          <ul class="mx-10 list-disc">
            <li>
              Reconocer en una persona la existencia de un paro
              cardiorrespiratorio en el ámbito Sanitario y/o Educativo, ya sea
              como rol paciente o compañero estudiante.
            </li>
            <li>
              Conocer los pasos de la cadena de supervivencia actualizados al
              2023. Conocer las medidas de seguridad y los elementos de
              protección personal, que deben tenerse en cuenta ante la RCP y DEA
              post-pandemia y actualización 2023.
            </li>
            <li>
              Realizar las maniobras físicas para llevar a cabo la RCP y DEA ,
              correctas para no causar lesión o daño corporal en los pacientes o
              nosotros mismos.
            </li>
            <li>
              Determinar las implicancias legales de la realización de RCP y DEA
              en el ámbito público.
            </li>
          </ul>
        </div>
       
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -mx-4 -mb-10">
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-96">
            <img
              alt="content"
              class="object-cover object-top h-full w-full"
              src="/images/img-14.png"
            />
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">
            Donaciones
          </h2>
          <p class="leading-relaxed text-base">
            Durante el año 2023, hemos recibido diferentes donaciones de
            material descartable, instrumental para prácticas, sillas de ruedas
            entre otros. Agradecemos a nuestra alumna Sra. Liz, Amarilla por sus
            generosas donaciones. Agradecimiento a la Sra Miriam Moreira ex
            alumna de la Institución por donación de una mesa para uso de los
            alumnos de Fonoaudiología y terapia ocupacional. Familia Refojo
            Avila por la donación de prótesis ortopédica, préstamos de silla de
            ruedas para que los alumnos puedan practicar movilización y traslado
            de pacientes, ya que en nuestros inicios no contamos con dicha silla
            para la realización de prácticas del alumnado. Este 2024, hemos
            recibido la donación de una Camilla Nueva del Sr Mario Cassina. Todo
            el equipamiento que se encuentra en el aula de simulación clínica,
            fué donado por la Presidenta de nuestra Fundación académica Silvia
            Flores y el Sr Carlos Robles Cortez. Gracias a todos los que cada
            día siguen confiando y depositando su amor por nuestra fundación. El
            aporte de cada uno de ustedes es muy importante para poder día tras
            días ayudar con nuevos profesionales egresados de la fundación,
            preparados y debidamente formados para contribuir con el avance de
            nuestro querido País.
          </p>
        </div>

        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-96 overflow-hidden">
            <img
              alt="content"
              class="object-cover object-center h-full w-full"
              src="/images/img-16.png"
            />
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">
            Uniformes Institucionales
          </h2>
          <p class="leading-relaxed text-base">
            El diseño de nuestros ambos académicos , están diseñados y
            confeccionados por la Sra Pamela Avila, estudiante de nuestra
            intuición. Si sos ingresante de nuestra institución, podes solicitar
            tu uniforme con el bordado del logo institucional en el mismo al
            teléfono que te vamos a dejar al pie de la nota . Confecciones
            Pamela & Co. Tel. 11-6932-8373. Si nombras la Fundación o cualquiera
            de nuestras redes sociales tenés 25 % de descuento en la compra del
            mismo. Impulsamos los emprendimientos de nuestros alumnos en
            Fundación académica Silvia Flores.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -mx-4 -mb-10">
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-96 overflow-hidden">
            <img
              alt="content"
              class="object-cover object-center h-full w-full"
              src="/images/img-13.png"
            />
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">
            Educación a Distancia
          </h2>
          <p class="leading-relaxed text-base">
            El Sistema de Aula invertida de Fundación SILFLO, te va a convertir
            en un experto aprendiz del área que te estés formando. Las clases
            son de modalidad sincrónica y asincrónica son por plataforma Zoom.
            Por medio del campus virtual podrás acceder 24/7 los 365 días del
            año al mismo. A su vez, cada alumno que requiera movilizarse una vez
            por mes o presenciar prácticas de manera presencial en la Fundación
            u con su tutor docente, podrá acceder a este beneficio de manera
            fácil y rápida, mediante la solicitud del mismo a tu docente tutor.
            Diseñamos un sistema Educativo con nuevas metodologías de
            aprendizaje basados en casos y problemas clínicos que se verán
            reflejados en las instituciones que vayas a trabajar, como así
            también , te desarrollaras de manera eficiente y eficaz con
            pacientes con múltiples patologías Somos una Fundación con un MODELO
            EDUCATIVO 100 % Modalidad Práctica, creemos que nuestros alumnos se
            enfrentan a desafíos prácticos día a día en su profesión. Este
            método de estudio potencia a los estudiantes a que su manejo con
            pacientes puede ser realmente crítico, exhaustivo y profesional .
          </p>
        </div>

        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-96 overflow-hidden">
            <img
              alt="content"
              class="object-cover object-center h-full w-full"
              src="/images/img-15.png"
            />
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">
            Proyecto Educativo Secundario y Primario a Distancia
          </h2>
          <p class="leading-relaxed text-base">
            Durante el 2022 y 2023, se han recibido 267, alumnos adultos entre
            los cuales 230 eran Secundario de Adultos y 37 estudiantes adultos
            del Primario. El proyecto se llevó a cabo mediante convenios
            educativos con diferentes instituciones , que dieron lugar a que la
            formación pueda ser modalidad híbrida y con tutorías en modalidad
            presencial. Actualmente, el 75 % de los estudiantes recibidos entre
            ellos Mujeres, se encuentran cursando la carrera de enfermería
            profesional . Impulsamos y acompañamos a cada uno de los estudiantes
            de las diferentes formaciones a seguir adelante con sus estudios de
            nivel superior.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -mx-4 -mb-10">

        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-96 overflow-hidden">
            <img
              alt="content"
              class="object-cover object-center h-full w-full"
              src="/images/img-8.png"
            />
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">
            Jornadas de R.C.P y D.E.A
          </h2>
          <p class="text-pretty">
            El pasado 11 de Noviembre del 2023, se realizó el Seminario Taller
            sobre RCP Y DEA a cargo de los profesores Silvia Flores Y Carlos
            Robles. Participaron 52 estudiantes de diferentes cursados del
            ámbito de la salud y el campo de la Psicología. La misma tuvo como
            finalidad teórica y práctica, los siguientes puntos: Cada estudiante
            contó con su certificación de asistencia que acredita su formación y
            actualización correspondiente al año en curso.
          </p>
          <ul class="mx-10 list-disc">
            <li>
              Reconocer en una persona la existencia de un paro
              cardiorrespiratorio en el ámbito Sanitario y/o Educativo, ya sea
              como rol paciente o compañero estudiante.
            </li>
            <li>
              Conocer los pasos de la cadena de supervivencia actualizados al
              2023. Conocer las medidas de seguridad y los elementos de
              protección personal, que deben tenerse en cuenta ante la RCP y DEA
              post-pandemia y actualización 2023.
            </li>
            <li>
              Realizar las maniobras físicas para llevar a cabo la RCP y DEA ,
              correctas para no causar lesión o daño corporal en los pacientes o
              nosotros mismos.
            </li>
            <li>
              Determinar las implicancias legales de la realización de RCP y DEA
              en el ámbito público.
            </li>
          </ul>
        </div>

        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-96 overflow-hidden">
            <img
              alt="content"
              class="object-cover object-center h-full w-full"
              src="/images/img-9.png"
            />
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">
            Aula de Simulación Clínica
          </h2>
          <p class="leading-relaxed text-base">
            Nuestra fundación SILFLO, cuenta con un espacio de Simulación
            Clínica, destinado a la formación y prácticas académicas , donde el
            alumno desarrolla su entrenamiento práctico, como si estuviera
            trabajando en un sector de internación domiciliaria, clínica u
            hospitalaria. El profesor Carlos Robles Cortez, que actualmente se
            encuentra desempeñando su tarea en el Hospital Garrahan, lleva
            adelante la formación práctica de los alumnos como jefe de Prácticas
            Académicas e Institucionales. El Aula cuenta con equipos de ECG,
            Bombas de infusión, Bombas de Alimentación, muñecos de simulación
            clínica, paneles de Oxigenoterapia,camillas, Instrumental Quirúrgico
            y todo el equipamiento hospitalario para un entrenamiento eficaz y
            acorde al estudiante de cada formación. Así como también, el área de
            rehabilitación, fisiatría y terapia ocupacional, cuenta con sus
            debidos equipos de entrenamiento para los diferentes tipos de
            patologías.
          </p>
        </div> 
      </div>
    </div>
  </section>

  <Galeria />
</Layout>
