---
import type { Code } from "astro:components";
import AboutItems from "./AboutItems.astro";
import Mision from "../components/icons/Mision.astro";
import Filosofia from "../components/icons/Filosofia.astro";
import Vision from "../components/icons/Vision.astro";
import Educacion from "../components/icons/Educacion.astro";
import Oportunidades from "../components/icons/Oportunidades.astro";
import CoinOff from "../components/icons/CoinOff.astro";
import Iniciativas from "../components/icons/Iniciativas.astro";
import Instagram from "./icons/Instagram.astro";
import Linkedin from "./icons/Linkedin.astro";
import Twitter from "./icons/Twitter.astro";
import TikTok from "./icons/TikTok.astro";
import YouTube from "./icons/YouTube.astro";
import Codigo from "./icons/Codigo.astro";
import Whatsapp from "./icons/Whatsapp.astro";
---

<section class="bg-white dark:bg-gray-900" id="about">
  <div
    class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16"
  >
    <div class="flex flex-col justify-center">
      <h1
        class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
      >
        Fundación Silvia Flores
      </h1>
      <p
        class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"
      >
        Nuestro compromiso se basa en potenciar el crecimiento de las personas,
        fomentando la igualdad de oportunidades en el acceso a la salud. Creemos
        firmemente en el poder transformador de la información y la formación en
        este campo crucial. Unite a nosotros en nuestra búsqueda continua de un
        país más saludable, donde cada individuo tenga la oportunidad de acceder
        a los recursos y conocimientos necesarios para cuidar de su bienestar.
        Juntos, podemos construir un futuro más brillante y equitativo para
        todos. ¡Explora nuestro sitio para conocer más sobre nuestras
        iniciativas, programas y cómo podés involucrarte!
      </p>
      <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0">
        <a
          href="la-fundacion"
          class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-[#11b8bb] hover:bg-[#0b9ba0]"
        >
          Mas Información...
          <svg
            class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="flex flex-col gap-8 items-center justify-center">
      <iframe
        class="mx-auto w-full lg:max-w-xl h-64 rounded-lg sm:mt-10 sm:h-96 shadow-xl"
        src="https://www.youtube.com/embed/8_3yyepO5kk?si=GVrZ5KJi2oaDgLvY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
      </iframe>
      <div class="flex mb-10 gap-10">
        <a href="https://www.linkedin.com/in/fundaci%C3%B3n-acad%C3%A9mica-silvia-flores-637731309/" target="_blank" class="hover:text-slate-600 text-black">
          <Linkedin class="w-8 h-8" />
          <span class="sr-only">Linkedin</span>
        </a>
        <a 
          href="https://www.instagram.com/fundacion_academica_silflo/" target="_blank"
          class="text-black hover:text-slate-600 ms-5"
        >
          <Instagram class="w-8 h-8" />
          <span class="sr-only">Instagram</span>
        </a>
        <a
          href="https://www.tiktok.com/@fundacionsilflo" target="_blank"
          class="text-black hover:text-slate-600 ms-5"
        >
          <TikTok class="w-8 h-8" />
          <span class="sr-only">Tiktok</span>
        </a>
        <a
          href="https://www.youtube.com/@fundacionsilflo" target="_blank"
          class="text-black hover:text-slate-600 ms-5"
        >
          <YouTube class="w-8 h-8" />
          <span class="sr-only">You Tube</span>
        </a>
      </div>
    </div>
  </div>
</section>


