---
import Arrow from "./icons/Arrow.astro";
---

<div data-dial-init class="fixed end-6 bottom-6 group">
  <div
    id="speed-dial-menu-click"
    class="flex flex-col items-center mb-4 space-y-2"
  >
  </div>
  <a href="#top">
    <button
      type="button"
      data-dial-toggle="speed-dial-menu-click"
      data-dial-trigger="click"
      aria-controls="speed-dial-menu-click"
      aria-expanded="false"
      class="flex items-center justify-center text-white bg-[#146063] rounded-full w-14 h-14 hover:bg-[#0b9ba0d0] dark:bg-bg-[#0b9ba0] dark:hover:bg-[#0b9ba0d0] focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-bg-[#0b9ba0d0]"
    >
      <Arrow />
    </button>
  </a>
</div>
