---
import type { Code } from "astro:components";
import CapacitacionesItems from "./CapacitacionesItems.astro";
import Wave from "./icons/Wave.astro";

const CURSO = [
  {
    titulo: "Enfermería Pediátrica",
    categoria: "Salud",
    modalidad: "Presencial",
    descripcion: "Certf. Oficial",
    imagen: "/src/Cursos/Salud-Presencial/enfermeria-pediatria.png",
  },
  {
    titulo:"Estimulacion Temprana",
    categoria:"Psicologia",
    modalidad: "Online",
    descripcion: "Nuevo Curso",
    imagen:"/src/Cursos/PSICOLOGIA/estimulacion.png",
  },
  {
    titulo:"Herramientas Digitales",
    categoria:"Tecnologia",
    modalidad:"Online",
    descripcion:"Para Adultos y Principiantes",
    imagen:"/src/Cursos/INGLES-DIGITALES/digital.png",
  },
  {
    titulo:"Inglés",
    categoria:"Idioma",
    modalidad:"Online",
    descripcion:"Nuevo Curso",
    imagen:"/src/Cursos/INGLES-DIGITALES/ingles.png",
  },
  {
    titulo:"AKM",
    categoria:"Kinesiologia",
    modalidad:"Online",
    descripcion:"Duración 6 Meses",
    imagen:"/src/Cursos/KINESIO-Presencial-Virtual/akm.png",
  },
  {
    titulo:"Autismo y TEA",
    categoria:"Acompañamiento",
    modalidad:"Online",
    descripcion:"Formación y Empleo",
    imagen:"/src/Cursos/ACOMPAÑANTE-Virtual/AT-autismo.png",
  },  
];
---

<div class="bg-white/75" id="capacitaciones">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col">
      <div class="h-1 bg-gray-900 rounded overflow-hidden">
        <div class="w-24 h-full bg-[#0d7278]"></div>
      </div>
      <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12 text-[#0d7278]">
        <h1 class="sm:w-2/5 font-medium title-font text-2xl mb-2 sm:mb-0">
          Fundación SILFLO te capacita
        </h1>
        <p class="sm:w-3/5 font-bold text-xl leading-relaxed sm:pl-10 pl-0 text-[#0b9096]">
          El Sistema de Aula invertida de Fundación SILFLO, te va a convertir en
          un experto aprendiz del área que te estés formando.
        </p>
      </div>
    </div>
    <div
      class="flex flex-wrap p-5 sm:-m-4 -mx-4 -mb-10 -mt-4 gap-10 justify-center"
    >
      {CURSO.map((curso) => <CapacitacionesItems {...curso} />)}
    </div>
  </div>
</div>
<div class="custom-shape-divider-bottom-1713505436">
  <Wave />
</div>
