---
import ArrowRight from "./icons/ArrowRight.astro";
export interface Props {
  title: string;
  categoria: string;
  modalidad: string;
  descripcion: string;
  imagen: string;
}

const { title, categoria, modalidad, descripcion, imagen } = Astro.props;
---

<div
  class="w-full bg-[#105a5f] hover:bg-[#11b8bb] bg-cover bg-center hover:scale-125 transition-all duration-1000 ease-in-out"
>
  <div class="group">
    <img alt="content" loading="lazy" src={imagen} />
    <div
      class="relative flex flex-col items-start justify-center gap-2 mt-2 mx-4 py-4 text-xl font-light text-[#f0fdfc]"
    >
      <h2 class="text-xl font-bold text-white">
        {modalidad}
      </h2>
      <h3 class="text-xl font-bold text-white">
        {categoria}
      </h3>

      <a href="/capacitaciones" class="text-xl text-gray-200 font-bold">
        ➡ Más información
      </a>
    </div>
  </div>
</div>
