---
import MenuIcon from "../components/icons/menu.astro";
---

<nav class="bg-[#0b9ba0] border-gray-200 dark:bg-gray-900 py-10">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto"
  >
    <a href="/Home" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/Logo.png" class="h-20" alt="Logo de Fundación Silvia Flores" />
    </a>
    <MenuIcon class="h-16 w-16 md:hidden" id="navbar-menu" />

    <div class="hidden w-full md:block md:w-auto" id="navbar-menu">
      <ul
        class="font-semibold flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-150 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-[#0b9ba0] dark:bg-gray-200 md:dark:bg-gray-200 dark:border-gray-200"
      >
        <li
          class="border-2 border-transparent p-2 hover:md:border-b-gray-100 border-b-4"
        >
          <a
            href="/"
            class="block py-2 px-3 text-xl font-bold text-gray-800-slate-200 rounded md:bg-transparent md:p-0
             dark:text-white md:dark:text-blue-500"
            aria-current="page">Home</a
          >
        </li>
        <li
          class="border-2 border-transparent p-2 hover:md:border-b-gray-100 border-b-4"
        >
          <a
            href="#about"
            class="block py-2 px-3 text-xl font-bold text-gray-800-slate-200 rounded md:bg-transparent md:p-0
            dark:text-white md:dark:text-blue-500"
            >La Fundación</a
          >
        </li>
        <li
          class="border-2 border-transparent p-2 hover:md:border-b-gray-100 border-b-4"
        >
          <a
            href="#capacitaciones"
            class="block py-2 px-3 text-xl font-bold text-white hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-cyan-50 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:bg-gray-200 md:dark:bg-gray-200 dark:border-gray-200"
            >Capacitaciones
          </a>
        </li>
        <li
          class="border-2 border-transparent p-2 hover:md:border-b-gray-100 border-b-4"
        >
          <a
            href="#novedades"
            class="block py-2 px-3 text-xl font-bold text-white hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-cyan-50 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:bg-gray-200 md:dark:bg-gray-200 dark:border-gray-200"
            >Novedades</a
          >
        </li>
        <li
          class="border-2 border-transparent p-2 hover:md:border-b-gray-100 border-b-4"
        >
          <a
            href="#"
            class="block py-2 px-3 text-xl font-bold text-white hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-cyan-50 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:bg-gray-200 md:dark:bg-gray-200 dark:border-gray-200"
            >Dejanos tu CV</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
