---

---

<!-- const navItems = [
    {
        title: "Home",
        label: "experiencia",
        url: "/#experiencia",
    },
    {
        title: "Proyectos",
        label: "proyectos",
        url: "/#proyectos",
    },
    {
        title: "Sobre mí",
        label: "sobre-mi",
        url: "/#sobre-mi",
    },
    {
        title: "Contacto",
        label: "contacto",
        url: "mailto:miduga@gmail.com",
    },
    ] -->
<header class="w-full mx-auto py-16 bg-primaryColor px-10">
  <div class="w-[1120px] flex justify-between items-center mx-auto">
    <img
      class="h-16 px-10"
      src="/Logo.png"
      alt="Logo de Fundacion Silvia Flores"
    />
    <nav class="flex justify-center items-center gap-4 text-2xl font-medium">
      <a class="" href="/fundacion">Fundación</a>
      <a href="/capacitaciones">Capacitaciones</a>
      <a href="/Novedades">Novedades</a>
      <a href="/Dejanos tu CV">Dejanos tu CV</a>
    </nav>
  </div>
</header>
