---
import MenuIcon from "../components/icons/menu.astro";
import Volumen from "../components/icons/Volumen.astro";
---

<!-- class="bg-gradient-to-b from-cyan-400 to-cyan-600 border-gray-200 dark:bg-gray-900 py-5 sticky top-0 z-50" -->
<nav
  id="navbar"
  class="fixed top-0 left-0 w-full bg-cyan-500/50 transition-all duration-300 z-50 py-5"
>
  <div class="max-w-7xl px-6 flex items-center justify-between md:mx-auto">
    <a href="/" class="flex items-center justify-center text-white space-x-2">
      <img
        src="/logo-silflo.png"
        class="h-20"
        alt="Logo de Fundación Silvia Flores"
      />
      <!-- <span class="text-md text-center font-bold hidden">
        Fundación Académica Silvia Flores
      </span> -->
    </a>

    <!-- boton de menu responsive  -->
    <button
      id="menu-button"
      class="text-white flex items-center w-10 h-10 md:hidden"
    >
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>

    <!-- boton de menu mobile  -->
    <!-- Menú para móviles -->
    <div
      id="menu-open"
      class="hidden top-28 fixed inset-0 bg-cyan-600/50 backdrop-blur-lg"
    >
      <div
        class="w-4/5 h-1/2 mx-auto flex flex-col items-center justify-center space-y-6"
      >
        <ul class="w-full text-white text-lg font-bold space-y-4 text-center">
          <li class="hover:bg-cyan-900">
            <a href="/" class="block py-2">Home</a>
          </li>
          <li class="hover:bg-cyan-900">
            <a href="/la-fundacion" class="block py-2">La Fundación</a>
          </li>
          <li class="hover:bg-cyan-900">
            <a href="/capacitaciones" class="block py-2">Capacitaciones</a>
          </li>
          <li class="hover:bg-cyan-900">
            <a href="/novedades" class="block py-2">Novedades</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="hidden md:flex md:mx-auto items-center justify-center w-full">
      <ul
        class="flex flex-col items-center justify-center p-4 srt: md:p-0 md:flex-row md:space-x-8 font-semibold text-white"
      >
        <li>
          <a
            href="/"
            class="block py-2 px-4 text-xl font-bold transition duration-300 hover:bg-white hover:text-cyan-600 rounded-lg"
            aria-current="page">Home</a
          >
        </li>
        <li>
          <a
            href="/la-fundacion"
            class="block py-2 px-4 text-xl font-bold transition duration-300 hover:bg-white hover:text-cyan-600 rounded-lg"
            >La Fundación</a
          >
        </li>
        <li>
          <a
            href="/capacitaciones"
            class="block py-2 px-4 text-xl font-bold transition duration-300 hover:bg-white hover:text-cyan-600 rounded-lg"
          >
            Capacitaciones</a
          >
        </li>
        <li>
          <a
            href="/novedades"
            class="block py-2 px-4 text-xl font-bold transition duration-300 hover:bg-white hover:text-cyan-600 rounded-lg"
          >
            Novedades</a
          >
        </li>
      </ul>
    </div>

    <a href="/">
      <Volumen class="w-8 h-8 text-white" />
    </a>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navbar = document.getElementById("navbar");
    const menuButton = document.getElementById("menu-button");
    const menuOpen = document.getElementById("menu-open");
    const navbarHeight = navbar.offsetHeight;

    // Navbar scroll
    window.addEventListener("scroll", () => {
      if (window.scrollY > navbarHeight) {
        navbar.classList.remove("bg-cyan-500/50");
        navbar.classList.add("bg-cyan-600/90");
      } else {
        navbar.classList.remove("bg-cyan-600/90");
        navbar.classList.add("bg-cyan-500/50");
      }
    });

    // Mostrar u ocultar el menú movile

    menuButton.addEventListener("click", () => {
      menuOpen.classList.toggle("hidden");
    });
  });
</script>
