<section class="relative w-full bg-slate-900">
  <video
    class="w-full shadow-lg opacity-30 object-cover"
    src="/Presentación.mp4"
    autoplay
    loop></video>

  <!-- <div class="absolute inset-0 backdrop-blur-sm"></div> -->
  <div
    class="absolute inset-0 flex flex-col items-center justify-center text-center px-5"
  >
    <h1 class="text-[#11b8bb] text-2xl mt-20 font-extrabold md:text-5xl">
      Fundación Académica Silvia Flores
    </h1>
    <p class="hidden text-2xl py-5 font-semibold text-white px-2 md:block">
      Potenciamos el Crecimiento de las Personas Fomentando la Igualdad de
      Oportunidades !!!
    </p>
  </div>
</section>
