<section class="relative w-full bg-slate-900">
  <video
    id="video"
    class="w-full shadow-lg opacity-30 object-cover"
    autoplay
    loop
  >
    <source src="/Presentación.mp4" type="video/mp4" />
    Tu navegador no soporta la reproducción de videos.
  </video>

  <!-- <div class="absolute inset-0 backdrop-blur-sm"></div> -->
  <div
    class="absolute inset-0 flex flex-col items-center justify-center text-center px-5"
  >
    <h1 class="text-[#11b8bb] text-2xl mt-20 font-extrabold md:text-5xl">
      Fundación Académica Silvia Flores
    </h1>
    <p class="hidden text-2xl py-5 font-semibold text-white px-2 md:block">
      Potenciamos el Crecimiento de las Personas Fomentando la Igualdad de
      Oportunidades !!!
    </p>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const video = document.getElementById("video");
    video.onplaying = () => {
      video.style.opacity = "1";
    };
  });
</script>
