<section class="w-full relative bg-slate-900">
  <video
    class="w-full shadow-lg opacity-30"
    src="/public/Presentación.mp4"
    autoplay
    loop
    muted></video>
  <div
    class="absolute w-64 mx-5 bottom-0 text-center flex flex-col md:w-full top-[50%] rigth-[50%]"
  >
    <h1 class="text-[#11b8bb] text-2xl font-bold md:text-5xl">
      Fundación Académica Silvia Flores
    </h1>
    <p class="hidden text-xl font-semibold text-white px-2 md:block">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, error!
    </p>
  </div>
</section>
