---
import Check from "./icons/Check.astro";
import Donaciones from "../components/DB/dbDonaciones.json"

---

<section
  class="bg-white text-white flex flex-col justify-center items-center"
  id="novedades"
>
  <div
    class="flex flex-col justify-center items-center max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16"
  >
    <div class="flex flex-col">
      <h2 class="text-3xl font-bold sm:text-4xl text-gray-900">
        Nodedades sobre la Fundación
      </h2>

      <p class="mt-4 text-gray-900">
        Bienvenido a nuestra sección de novedades, donde te mantendremos al día
        con las últimas noticias y eventos de la Fundación SILFLO. Aquí
        encontrarás información emocionante sobre nuestros egresados destacados,
        donaciones generosas que impulsan nuestra misión, iniciativas de
        educación a distancia para llegar a más personas, emocionantes jornadas
        de RCP, detalles sobre los uniformes distintivos de nuestra fundación y
        actualizaciones sobre nuestras modernas aulas de simulación. ¡Explora
        esta sección para descubrir cómo estamos avanzando en nuestra misión de
        promover la educación en salud y hacer una diferencia positiva en
        nuestras comunidades!
      </p>
      <div class="mt-12">
        <a
          href="/novedades"
          class="inline-block rounded  px-12 py-3 text-sm font-medium
           text-white transition bg-[#11b8bb] hover:bg-[#0b9ba0]"
        >
          Más sobre nosotros
        </a>
      </div>
    </div>

    <div
      class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-3"
    >
      {
        Donaciones.map((data) => (
          <div class="flex items-start gap-4">
            <span class="shrink-0 rounded-lg bg-gray-800 p-4">
              <Check />
            </span>

            <div>
              <h2 class="text-lg font-bold text-gray-900">{data.titulo}</h2>

              <p class="mt-1 text-sm text-gray-900">{data.descripcion}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
