---
import Check from "./icons/Check.astro";

const DATA = [
  {
    title: "Egresados",
    descripcion:
      "El  día 4 de Diciembre del año 2023 en Puerto Madero- CABA Buenos Aires, , Nuestra  Fundación Académica Silvia Flores, llevó a cabo la realización del Acto de Graduación del cierre del ciclo lectivo 2023.",
  },
  {
    title: "Aula de Simulación clínica",
    descripcion:
      "Nuestra fundación SILFLO, cuenta con un espacio  de Simulación Clínica, destinado a la formación y prácticas académicas , donde el alumno desarrolla su entrenamiento práctico, como si estuviera trabajando en un sector de internación domiciliaria, clínica u hospitalaria.",
  },
  {
    title: "Donaciones",
    descripcion:
      "Durante el año 2023, hemos recibido diferentes donaciones de material descartable, instrumental para prácticas, sillas de ruedas entre otros. Agradecemos a nuestra alumna  Sra. Liz, Amarilla por sus generosas donaciones.",
  },
  {
    title: "Uniformes institucionales",
    descripcion:
      "El diseño de  nuestros ambos académicos , están diseñados y confeccionados por la Sra Pamela Avila, estudiante de nuestra intuición.",
  },
  {
    title: "Educacion a Distancia",
    descripcion:
      "El Sistema de Aula invertida de Fundación SILFLO, te va a convertir en un experto aprendiz del área que te estés formando. Durante el 2022 y 2023, se han recibido 267, alumnos adultos entre los cuales 230 eran Secundario de Adultos y 37 estudiantes adultos  del Primario.",
  },
  {
    title: "Jornadas de R.C.P y DEA",
    descripcion:
      "En colaboración con un equipo experto y comprometido, ofrecemos clases y jornadas de Reanimación Cardiopulmonar (RCP) diseñadas para capacitar a individuos y grupos en habilidades vitales de primeros auxilios.",
  },
];
---

<section
  class="bg-white text-white flex flex-col justify-center items-center"
  id="novedades"
>
  <div
    class="flex flex-col justify-center items-center max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16"
  >
    <div class="flex flex-col">
      <h2 class="text-3xl font-bold sm:text-4xl text-gray-900">
        Nodedades sobre la Fundación
      </h2>

      <p class="mt-4 text-gray-900">
        Bienvenido a nuestra sección de novedades, donde te mantendremos al día
        con las últimas noticias y eventos de la Fundación SILFLO. Aquí
        encontrarás información emocionante sobre nuestros egresados destacados,
        donaciones generosas que impulsan nuestra misión, iniciativas de
        educación a distancia para llegar a más personas, emocionantes jornadas
        de RCP, detalles sobre los uniformes distintivos de nuestra fundación y
        actualizaciones sobre nuestras modernas aulas de simulación. ¡Explora
        esta sección para descubrir cómo estamos avanzando en nuestra misión de
        promover la educación en salud y hacer una diferencia positiva en
        nuestras comunidades!
      </p>
      <div class="mt-12">
        <a
          href="/la-fundacion"
          class="inline-block rounded bg-[#0b9ba0] px-12 py-3 text-sm font-medium
           text-white transition hover:bg-[#0b9ba0c5] focus:outline-none focus:ring
           focus:ring-yellow-400"
        >
          Más sobre nosotros
        </a>
      </div>
    </div>

    <div
      class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-3"
    >
      {
        DATA.map((data) => (
          <div class="flex items-start gap-4">
            <span class="shrink-0 rounded-lg bg-gray-800 p-4">
              <Check />
            </span>

            <div>
              <h2 class="text-lg font-bold text-gray-900">{data.title}</h2>

              <p class="mt-1 text-sm text-gray-900">{data.descripcion}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
