<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2
        class="text-xl text-indigo-500 tracking-widest font-medium title-font mb-1"
      >
        Síguenos en nuestras redes sociales
      </h2>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 w-1/3">
        <div class="flex rounded-lg h-full bg-gray-100 p-8 felx-col">
          <blockquote
            class="tiktok-embed w-full"
            cite="https://www.tiktok.com/@fundacionsilflo/video/7360721362379476229"
            data-video-id="7360721362379476229"
          >
            <section class="w-full"></section>
          </blockquote>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
          <blockquote
            class="instagram-media"
            data-instgrm-permalink="https://www.instagram.com/reel/C51Kg8JRiz9/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
            data-instgrm-version="14"
          >
          </blockquote>
        </div>
      </div>

      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
          <blockquote
            class="instagram-media"
            data-instgrm-permalink="https://www.instagram.com/reel/C2Bon2kNKob/?utm_source=ig_embed&utm_campaign=loading"
            data-instgrm-version="14"
          >
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
<script async src="//www.instagram.com/embed.js"></script>
<script async src="https://www.tiktok.com/embed.js"></script>
